#game {
  display: grid;
  grid-template-rows: 170px 70% 10%;
  grid-template-columns: 1fr;
  width: 755px;
}

.mainGameBox {
  height: 476px;
}

@media (max-width: 540px) {
  #game {
    gap: 0;
    width: 100vw;
  }

  .mainGameBox {
    height: 328px;
  }
}
