.rulesButton {
  background: none;
  color: aliceblue;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border-color: aliceblue;
  letter-spacing: 0.3rem;
  align-self: flex-end;
  /* margin-right: 2rem; */
  font-size: 0.8rem;
  cursor: pointer;
  width: fit-content;
  justify-self: end;
}

@media (max-width: 540px) {
  .rulesButton {
    align-self: center;
    justify-self: center;
    margin: 0;
  }
}
